<section *ngIf="!loader" class="c" style="justify-content: center;align-items: center;min-height: -webkit-fill-available;">
    <div *ngIf="vista=='success'" class="alert alert-success">Compra realizada exitosamente!, hemos enviado la factura a tu correo, si quieres puedes <a [routerLink]="['/']">continuar comprando...</a></div>
    <div *ngIf="vista=='approved'" class="alert alert-success">Compra realizada exitosamente!, hemos enviado la factura a tu correo, si quieres puedes <a [routerLink]="['/']">continuar comprando...</a></div>
    <div *ngIf="vista=='pending'" class="alert alert-info">En cuando completes la operacion, recibiras un correo con la informacion de retiro del producto, mientras tanto podes <a [routerLink]="['/']">seguir navegando por nuestra tienda...</a></div>
    <div *ngIf="vista=='failure'" class="alert alert-warning">Ah ocurrido un error con el pago, verifica que toda la informacion ingresasa sea correta y , mientras tanto podes <a [routerLink]="['/carrito']">reintentarlo</a></div>
</section>

<div *ngIf="loader" class="c" style="justify-content: center;align-items: center;min-height: -webkit-fill-available;">
    <div class="spinner-border text-success" role="status">
        <span class="sr-only">Cargando...</span>
    </div>
    <p>Cargando...</p>
</div>