@import '~@angular/material/theming';
@include mat-core();

/* ======== Angular material custom themes ======== */

$app-primary: mat-palette($mat-green, 400);
$app-accent: mat-palette($mat-amber);
$app-warn: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);