<div *ngIf="!loader" class="col">
    <div class="row r nowrap p-4" *ngIf="gral">
        <div class="col-3 d900" style="margin-top: 10px; padding: 0px !important;">
            <div class="c wrap">
                <div class="w-100" style="margin-bottom: 20px;">
                    <a [routerLink]="['/administrador/ventas']" class="row w-100 r nowrap bi" style="text-decoration:none;margin-left:0px; padding-left:0px;justify-content:space-between;align-items: center;">
                        <h5 style="color:black;">Ventas</h5>
                    </a>
                    <div id="separador" style="margin-top:5px;margin-bottom:5px;height:1px;width:100%;border-top:1px solid #CFCFCF;">
                    </div>
                </div>
                <div class="w-100" style="margin-bottom: 20px;">
                    <a [routerLink]="['/administrador/promociones']" class="row w-100 r nowrap bi" style="text-decoration:none;margin-left:0px; padding-left:0px;justify-content:space-between;align-items: center;">
                        <h5 style="color:black;">Promociones</h5>
                    </a>
                    <div id="separador" style="margin-top:5px;margin-bottom:5px;height:1px;width:100%;border-top:1px solid #CFCFCF;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col pl900" id="centro " style="padding-right: 0px !important;">
            <div *ngFor="let venta of ventas; let i = index" class="c nowrap">
                <!--Vista venta, estado=Rechazada-->
                <div *ngIf="venta.pago" class="r wrap">
                    <div class="w-100 r wrap " id="venta" [routerLink]="['./',venta.id_venta]" style="margin-bottom: 10px; margin-left: 3px;width: 100% !important;">
                        <div class="w-100 r nowrap" id="v" style="cursor:pointer; padding:20px; align-items: center; justify-content: space-between;">
                            <div class="c" style="justify-content:flex-start;">
                                <div style="font-size: calc(0.7rem + 0.6vw)">Martin Barrientos</div>
                                <div style="font-size: calc(0.6rem + 0.4vw); color:#696969;">Fecha: 11/10/2019</div>
                            </div>
                            <div class="r" style="justify-content:flex-end;color: #c4302b;">
                                <b style="font-size:calc(0.7rem + 0.6vw)">$</b><b id="preciopid1" style="font-size: calc(0.7rem + 0.6vw)">5231,00</b>
                            </div>
                        </div>
                        <div class="col-12 addshadowred" style="box-shadow:0 -4rem 2.5rem #e26a66;">
                            <hr style="margin-top:0.01rem !important">
                        </div>
                    </div>
                </div>
                <!--Vista venta, estado=Pendiente de Pago-->
                <div *ngIf="!venta.pago && venta.metodo_retiro==''" class="r wrap">
                    <div class="r wrap " id="venta" [routerLink]="['./',venta.id_venta]" style="cursor:pointer;margin-bottom: 10px; margin-left: 3px; width: 100% !important;">
                        <div class="w-100 r nowrap" id="v" style="cursor:pointer; padding:20px; align-items: center; justify-content: space-between;">
                            <div class="c" style="justify-content:flex-start;">
                                <div style="font-size: calc(0.7rem + 0.6vw);">Martin Barrientos</div>
                                <div style="font-size: calc(0.6rem + 0.4vw); color:#696969;">Fecha: 11/10/2019</div>
                            </div>
                            <div class="r" style="justify-content:flex-end;color: #00AA32;">
                                <b style="font-size:calc(0.7rem + 0.6vw)">$</b><b id="preciopid1" style="font-size: calc(0.7rem + 0.6vw)">5231,00</b>
                            </div>
                        </div>
                        <div class="col-12 addshadowgreen" style="box-shadow:0 -4rem 2.5rem #a5e6ad;">
                            <hr style="margin-top:0.01rem !important">
                        </div>
                    </div>
                </div>
                <!--Vista venta, estado=Pendiente de Envio-->
                <div *ngIf="!venta.pago && venta.metodo_retiro=='domicilio'" class="r wrap">
                    <div class="w-100 r wrap " id="venta" style="width: 100% !important;margin-bottom: 10px; margin-left: 3px;">
                        <div class="w-100 r nowrap" [routerLink]="['./',venta.id_venta]" style="flex-direction:row-reverse;cursor:pointer; align-items: center; justify-content: space-between;">
                            <div class="tipo c" style="border-style: groove;margin-left:40px; border-color: #E3E3E3; border-width: 0px 0px 0px 0.5px; ">
                                <img style="margin-left:0.1px;" id="fotov" src="assets/icons/enviov.png ">
                            </div>
                            <div class="flip r w-100 " style="align-items:center;">
                                <div class="r flip-1" style="justify-content:space-between;margin-left:20px;width:inherit;align-items:center">
                                    <div class="c">
                                        <div style="font-size: calc(0.7rem + 0.6vw);">{{venta.nombre}}</div>
                                        <div style="font-size: calc(0.6rem + 0.4vw);  color:#696969;">Fecha: {{venta.fecha}}
                                        </div>
                                    </div>
                                    <div class="r" style="color: #00AA32;">
                                        <b style="font-size:calc(0.7rem + 0.6vw); ">$</b><b id="preciopid1 " style="font-size: calc(0.7rem + 0.6vw); ">{{venta.total}}</b>
                                    </div>
                                </div>
                                <div class="r flip-2" style="justify-content:space-between;margin-left:20px;width:inherit;align-items:center">
                                    <div class="c">
                                        <div style="font-size: calc(0.7rem + 0.6vw);">{{venta.calle}} {{venta.nro_calle}}, LP {{venta.cp}}</div>
                                        <div style="font-size: calc(0.6rem + 0.4vw);  color:#696969;">Tel: {{venta.tel}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 addshadowgreen" style="box-shadow:0 -4rem 2.5rem #a5e6ad;">
                            <hr style="margin-top:0.01rem !important">
                        </div>
                    </div>
                </div>
                <!--Vista venta, estado=Pendiente de Retiro-->
                <div *ngIf="!venta.pago && venta.metodo_retiro=='tienda'" class="r wrap">
                    <div class="w-100 r wrap " id="venta" style="width: 100% !important;margin-bottom: 10px; margin-left: 3px;">
                        <div class="w-100 r nowrap" [routerLink]="['./',venta.id_venta]" style="flex-direction:row-reverse;cursor:pointer; align-items: center; justify-content: space-between;">
                            <div class="tipo c" style="border-style: groove;margin-left:40px; border-color: #E3E3E3; border-width: 0px 0px 0px 0.5px; ">
                                <img style="margin-left:0.1px;" id="fotov" src="assets/icons/retirov.png">
                            </div>
                            <div class="flip r w-100 " style="align-items:center;">
                                <div class="r flip-1" style="justify-content:space-between;margin-left:20px;width:inherit;align-items:center">
                                    <div class="c">
                                        <div style="font-size: calc(0.7rem + 0.6vw); ">{{venta.nombre}}</div>
                                        <div style="font-size: calc(0.6rem + 0.4vw); color:#696969;">Fecha: {{venta.fecha}}
                                        </div>
                                    </div>
                                    <div class="r" style="color: #00AA32;">
                                        <b style="font-size:calc(0.7rem + 0.6vw);  ">$</b><b id="preciopid1 " style="font-size: calc(0.7rem + 0.6vw);  ">{{venta.total}}</b>
                                    </div>
                                </div>
                                <div class="r flip-2" style="justify-content:space-between;margin-left:20px;width:inherit;align-items:center">
                                    <div class="c">
                                        <div style="font-size: calc(0.7rem + 0.6vw); ">Sucursal General Pico (Calle 17 - 740)</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 addshadowgreen" style="box-shadow:0 -4rem 2.5rem #a5e6ad;">
                            <hr style="margin-top:0.01rem !important">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c nowrap p-2" style="align-items: center;margin-top:60px;margin-bottom:20px" *ngIf="!gral">
        <div *ngIf="infoVenta.expires" class="container" style="width:75%;" id="venta">
            <div class="c nowrap marcorojo" style="height:20%;margin-bottom:20px;padding:15px;justify-content: space-between;">
                <div class="r wrap">
                    <h5 style="margin-right: 6px;font-size: calc(0.8rem + 0.6vw);">{{infoVenta.nombre}} {{infoVenta.apellido}}, </h5>

                    <h5 style="font-size: calc(0.8rem + 0.6vw);">DNI: {{infoVenta.dni}}</h5>
                </div>
                <div class="r wrap" style="justify-content: space-between;align-items: center;">
                    <div class="r wrap">
                        <h5 style="margin-right: 6px;font-size: calc(0.5rem + 0.7vw);margin-bottom: 0px;">{{infoVenta.calle}}</h5>
                        <h5 style="margin-right: 6px;font-size: calc(0.5rem + 0.7vw);margin-bottom: 0px;">{{infoVenta.nro_calle}}, CP: {{infoVenta.cp}}</h5>
                    </div>
                    <div class="r wrap">
                        <h5 style="margin-right: 6px;font-size: calc(0.4rem + 0.6vw);text-align:end;margin-bottom: 0px;color:#696969">
                            {{infoVenta.correo}}</h5>
                        <h5 style="margin-right: 6px;font-size: calc(0.4rem + 0.6vw);text-align:end;margin-bottom: 0px;color:#696969">
                            Tel: {{infoVenta.tel}}</h5>
                    </div>
                </div>
            </div>
            <div class="c nowrap marcorojo" style="height:70%;padding:15px;justify-content: space-between;">
                <div class="c">
                    <div *ngFor="let item of infoVenta.items; let i = index" class="r nowrap" style="justify-content: space-between;">
                        <div class="r nowrap">
                            <h5 style="margin-right: 6px;font-size: calc(0.6rem + 0.5vw);">{{item.title}}</h5>
                            <h5 *ngIf="item.title!='IVA Posicion'" style="font-size: calc(0.6rem + 0.5vw);">({{item.quantity}})</h5>
                        </div>
                        <h5 style="font-size: calc(0.6rem + 0.5vw);">${{item.unit_price}}</h5>
                    </div>
                </div>
                <div class=" r nowrap " style="align-self: flex-end; margin-top:20px;">
                    <h5 style="margin-right: 6px;font-size: calc(0.8rem + 0.6vw);margin-bottom: 0px;">Total</h5>
                    <h5 style="font-size: calc(0.8rem + 0.6vw); margin-bottom: 0px;">${{infoVenta.total}}</h5>
                </div>
            </div>
        </div>
        <div *ngIf="!infoVenta.expires" class="container" style="width:75%;" id="venta">
            <div class="c nowrap" style="box-shadow: 0 0 8px rgb(10, 111, 0);
                border-radius: 20px;height:20%;margin-bottom:20px;padding:15px;justify-content: space-between;">
                <div class="r wrap">
                    <h5 style="margin-right: 6px;font-size: calc(0.8rem + 0.6vw);">{{infoVenta.nombre}} {{infoVenta.apellido}}, </h5>

                    <h5 style="font-size: calc(0.8rem + 0.6vw);">DNI: {{infoVenta.dni}}</h5>
                </div>
                <div class="r wrap" style="justify-content: space-between;align-items: center;">
                    <div class="r wrap">
                        <h5 style="margin-right: 6px;font-size: calc(0.5rem + 0.7vw);margin-bottom: 0px;">{{infoVenta.calle}}</h5>
                        <h5 style="margin-right: 6px;font-size: calc(0.5rem + 0.7vw);margin-bottom: 0px;">{{infoVenta.nro_calle}}, CP: {{infoVenta.cp}}</h5>
                    </div>
                    <div class="r wrap">
                        <h5 style="margin-right: 6px;font-size: calc(0.4rem + 0.6vw);text-align:end;margin-bottom: 0px;color:#696969">
                            {{infoVenta.correo}}</h5>
                        <h5 style="margin-right: 6px;font-size: calc(0.4rem + 0.6vw);text-align:end;margin-bottom: 0px;color:#696969">
                            Tel: {{infoVenta.tel}}</h5>
                    </div>
                </div>
            </div>
            <div class="c nowrap" style="box-shadow: 0 0 8px rgb(10, 111, 0);
                border-radius: 20px;height:70%;padding:15px;justify-content: space-between;">
                <div class="c">
                    <div *ngFor="let item of infoVenta.items; let i = index" class="r nowrap" style="justify-content: space-between;">
                        <div class="r nowrap">
                            <h5 style="margin-right: 6px;font-size: calc(0.6rem + 0.5vw);">{{item.title}}</h5>
                            <h5 *ngIf="item.title!='IVA Posicion'" style="font-size: calc(0.6rem + 0.5vw);">({{item.quantity}})</h5>
                        </div>
                        <h5 style="font-size: calc(0.6rem + 0.5vw);">${{item.unit_price}}</h5>
                    </div>
                </div>
                <div class=" r nowrap " style="align-self: flex-end; margin-top:20px;">
                    <h5 style="margin-right: 6px;font-size: calc(0.8rem + 0.6vw);margin-bottom: 0px;">Total</h5>
                    <h5 style="font-size: calc(0.8rem + 0.6vw); margin-bottom: 0px;">${{infoVenta.total}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loader" class="c" style="justify-content: center;align-items: center;min-height: -webkit-fill-available;">
    <div class="r nowrap">
        <div class="spinner-border text-success" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
        <p style="font-size: calc(0.6rem + 0.6vw);margin-left:10px;margin-top:3px;">Cargando...</p>
    </div>
</div>