@media(max-width:520px) {
    .d520 {
        display: none !important;
    }
    .a520 {
        display: flex !important;
    }
}

@media(max-width:768px) {
    .d768 {
        display: none;
    }
    .a768 {
        display: flex !important;
    }
    #fotov {
        width: 100px !important;
    }
    #venta {
        width: 100% !important;
    }
}

@media(max-width:900px) {
    .d900 {
        display: none;
    }
    .a900 {
        display: flex !important;
    }
    .pl900 {
        padding-left: 0px !important;
    }
}

@media(max-width:1024px) {
    .d1024 {
        display: none;
    }
}

.grid-view {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-style: none;
    padding: 0px;
    border-color: #1FA02E;
    border-width: 0px 0px 2px 0px;
    margin-right: 7px;
    margin-bottom: 2px;
}

.ocultar {
    display: none;
}

.fondo-gris {
    background-color: #D3D3D3 !important;
}

#venta:hover .addshadowgreen {
    box-shadow: 0 -4rem 3rem rgb(10, 112, 22) !important;
}

#venta:hover .addshadowred {
    box-shadow: 0 -4rem 3rem #d10c05 !important;
}

.flip-1,
.flip-2 {
    position: absolute;
    backface-visibility: hidden;
}

.flip-2 {
    transform: rotateX(-180deg);
}

.flip {
    position: relative;
    transition: all 1s ease;
    transform: perspective(600px);
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
}

.tipo:hover+.flip {
    transform: perspective(600px) rotateX(-180deg) translateY(100%);
}

.marcorojo {
    box-shadow: 0 0 8px #d10c05 !important;
    border-radius: 20px;
}