@media(max-width:768px) {
    .d768 {
        display: none;
    }
    .a768 {
        display: flex !important;
    }
    #fotop {
        width: 130px;
        height: 130px;
    }
    #te {
        margin-bottom: 10px !important;
    }
    #imge {
        margin: 10px !important;
        margin-bottom: 0px !important;
    }
}

@media(max-width:600px) {
    .d600 {
        display: none !important;
    }
    .a600 {
        display: flex !important;
    }
}

@media(max-width:900px) {
    .d900 {
        display: none;
    }
    .a900 {
        display: flex !important;
    }
    .plr900 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media(max-width:500px) {
    .d500 {
        display: none;
    }
    .a500 {
        display: flex !important;
    }
    #sw500 {
        justify-content: space-between !important;
    }
    #fotop {
        width: 105px !important;
        height: 105px !important;
    }
}

.fondo-gris {
    background-color: #D3D3D3 !important;
}

.disabled-color {
    background-color: #8C958D !important;
}

.enabled-color {
    background-color: #1FA02E !important;
}

.fond-gris {
    background-color: #888787;
}

.fond-azul {
    background-color: #1C50C6;
}