<div class="col" *ngIf="!loader">
    <div class="p-4">
        <!--barra de navegacion-->
        <div class="row container d768" style="margin-bottom: 15px; margin-top:5px;padding-left: 0px !important;">
            <h6 style="color:#696969; margin-right: 5px;font-size: calc(0.7rem + 0.5vw);">Mundo Bright | </h6>
            <h6 style="color:#1FA02E;font-size: calc(0.7rem + 0.5vw);"> Mi Carrito </h6>
        </div>
        <div class="row r nowrap">
            <div class="col plr900 " id="centro" style="padding-left: 0px !important;">
                <div class="w-100 r nowrap " style="margin-bottom: 50px;align-items: center;">
                    <div class="r nowrap" style="margin-left: 5px; margin-right: 5px;">
                        <div class="r nowrap fond-gris" [ngClass]="{'fond-azul': productos?.length!=0}" style="align-self:center; justify-content:center;border-width: 0.5px; border-radius: 12px; min-width: 25px; color: white;">
                            1
                        </div>
                        <b class="d500" style="margin-left: 5px;">Mi</b>
                        <b class="d500" style="margin-left: 3px;">Carrito</b>
                    </div>
                    <div id="separador" class="w-100" style="height:1px;border-top:1px solid #E5E5E5;"></div>
                    <div class="r nowrap" style="margin-left: 5px; margin-right: 5px;">
                        <div id="2" class="r nowrap fond-gris" [ngClass]="{'fond-azul': view>=2}" style="align-self:center; justify-content:center;border-width: 0.5px; border-radius: 12px; min-width: 25px; color: white;">
                            2
                        </div>
                        <b class="d500" style="margin-left: 5px;">Mis</b>
                        <b class="d500" style="margin-left: 3px;">Datos</b>
                    </div>
                </div>
                <div id="micarrito" class="r wrap">
                    <div class="c w-100" id="productos" *ngIf="view==1">
                        <div class="r wrap" *ngFor="let producto of productos; let i = index">
                            <div class="w-100 r wrap" style="margin-bottom: 5px; margin-left: 3px;">
                                <div class="w-100 r nowrap" style=" padding:3px; align-items: center; justify-content: space-between;">
                                    <div class="col" style="padding-left: 0px;">
                                        <div class="r nowrap" style="align-items: center;">
                                            <img id="fotop" src="http://localhost/mundobright/files/publicaciones/{{producto.imagen}}" class="img-fluid" alt="..." style="max-width: 209px;max-height: 209px;">
                                            <!--descripcion producto width>768-->
                                            <div class="c wrap d768 w-100" style="align-items: center; margin-left: 5px;">
                                                <div style="text-align: center; font-size: calc(0.7rem + 0.5vw);">{{producto.nombre}}</div>
                                                <div style="color: #B1B1B1;font-size:calc(0.5rem + 0.7vw);" id="marcapid1">{{producto.marca}}</div>
                                            </div>
                                            <!--descripcion producto width<768-->
                                            <div class="c wrap a768 w-100" style="display:none;align-items: center;justify-content: space-between; margin-left:5px;">
                                                <div style="text-align: center; ">
                                                    <h6 style="font-size: calc(0.6rem + 1vw);">{{producto.nombre}}</h6>
                                                </div>
                                                <div style="color: #B1B1B1; font-size: calc(0.5rem + 1vw);">{{producto.marca}}</div>
                                                <div style="color: #00AA32;"><b style="margin-right: 3px;font-size: calc(0.6rem + 1vw);">$</b><b id="preciopid1" style="font-size: calc(0.6rem + 1vw);">{{producto.precio}}</b>
                                                </div>
                                            </div>
                                        </div>
                                        <!--botonera width<768-->
                                        <div class="r nowrap a768" style="display:none; justify-content: space-between; margin-left:15px;">
                                            <div class="r nowrap" style="margin-right:2px;">
                                                <button (click)="aumentarCantidad(producto.id_localstorage,i)" class="row" style="font-size: calc(0.4rem + 1vw);width:35px !important; margin-right:2px; outline: none; border: none; background-color: #707070;  border-radius: 6px; color:white; justify-content: center; margin-bottom: 1px; align-items: center;">
                                                +
                                                </button>
                                                <div style="background-color: #F2F2F2; padding: 10px; border-radius: 6px; padding-right: 50px; position: relative;display: inline-block;text-align: center; ">
                                                    <p style="font-size: calc(0.6rem + 1vw);position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);font-size: calc(0.7rem + 1vw);">{{producto.cant_productos}}</p>
                                                </div>
                                                <button (click)="disminuirCantidad(producto.id_localstorage,i)" class="row" style="font-size: calc(0.24rem + 1vw);width:35px; margin-left:2px; outline: none; border: none; background-color: #D3D3D3;  border-radius: 6px; color:white; justify-content: center; margin-top: 1px;align-items: center;">
                                                -
                                                </button>
                                            </div>
                                            <div class="col" style="padding-right: 0px;">
                                                <button *ngIf="producto.id_localstorage==null" class="r nowrap" (click)="addProducto(i)" style="background-color: #93CF2E ; outline: none; border: none; border-radius: 6px; color:white; min-height: 45px;  width: 100%; color: white; justify-content: center; align-items: center;">
                                                    <b style="margin-right: 5px; margin-bottom: 3px;">+</b>
                                                    <img src="assets/icons/carrito-icono.png">
                                                </button>
                                                <button *ngIf="producto.id_localstorage!=null" class="r nowrap" (click)="deleteProducto(producto.id_localstorage,i)" style="background-color: #FF6262 ; outline: none; border: none; border-radius: 6px; color:white; min-height: 45px; width: 100%; color: white; justify-content: center; align-items: center;">
                                                    <img src="assets/icons/garbage.png">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--botonera y precio producto width>768-->
                                    <div class="col-4 d768">
                                        <div style="display:flex; flex-direction:row; flex-wrap: nowrap; align-items: center; ">
                                            <div class="r" style="justify-content:flex-end;width:30%;margin-right: 14px;color: #00AA32;">
                                                <b style="font-size:calc(0.5rem + 0.7vw);">$</b><b id="preciopid1" style="font-size: calc(0.5rem + 0.7vw);">{{producto.precio}}</b>
                                            </div>
                                            <div class="col" style="display:flex;flex-direction:column;flex-wrap: nowrap; ">
                                                <div class="r nowrap">
                                                    <div class="col-8 " style="background-color: #F2F2F2; padding: 10px; border-radius: 6px;  position: relative;display: inline-block;text-align: center; ">
                                                        <p id="lcantpid1 " style="font-size: calc(0.35rem + 1vw);position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%); ">{{producto.cant_productos}}</p>
                                                    </div>
                                                    <div class="col-4 c" style="display: flex; flex-direction: column;">
                                                        <button (click)="aumentarCantidad(producto.id_localstorage,i)" [ngClass]="{'fondo-gris': producto.cant_productos==producto.cantidad}" class="row" style="font-size: calc(0.2rem + 1vw);outline: none; border: none; background-color: #707070;  border-radius: 6px; color:white; justify-content: center; margin-bottom: 1px; align-items: center;">
                                                            +
                                                        </button>
                                                        <button (click)="disminuirCantidad(producto.id_localstorage,i)" [ngClass]="{'fondo-gris': producto.cant_productos==1}" class="row" style="font-size: calc(0.2rem + 1vw);outline: none; border: none; background-color: #707070;  border-radius: 6px; color:white; justify-content: center; margin-top: 1px;align-items: center;">
                                                            -
                                                        </button>
                                                    </div>
                                                </div>
                                                <button *ngIf="producto.id_localstorage==null " class="r nowrap " (click)="addProducto(i) " style="background-color: #93CF2E ; outline: none; border: none; border-radius: 6px; color:white; min-height:
                                                    45px; margin-top: 3px; width: 100%; color: white; justify-content: center; align-items: center; ">
                                                    <b style="margin-right: 5px; margin-bottom: 3px; ">+</b>
                                                    <img src="assets/icons/carrito-icono.png ">
                                                </button>
                                                <button *ngIf="producto.id_localstorage!=null " class="r nowrap " (click)="deleteProducto(producto.id_localstorage,i) " style="background-color: #FF6262 ; outline: none; border: none; border-radius: 6px;
                                                    color:white; min-height: 45px; margin-top: 3px; width: 100%; color: white; justify-content: center; align-items: center; ">
                                                    <img src="assets/icons/garbage.png ">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="i!=productos?.length-1 " class="col-12 ">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div id="precios" class="r w-100" style="justify-content: flex-end;  margin-left: 3px; ">
                            <div class="row" style="margin-top: 20px; margin-bottom: 20px; margin-right: 15px">
                                <div class="col c wrap" style=" align-content: flex-end; align-items: flex-end;">
                                    <h4 id="cantproductos" style=" font-size: calc(0.7rem + 1vw); white-space:nowrap;">Sub-Total</h4>
                                    <h2 style="font-size: calc(0.85rem + 1vw);">Total</h2>
                                </div>
                                <div class="col c wrap" style=" align-content: flex-end;align-items: flex-end; ">
                                    <div class="r nowrap">
                                        <h4 style="font-size: calc(0.7rem + 1vw);">$</h4>
                                        <h4 id="subtotal" style="font-size: calc(0.7rem + 1vw);">{{sub_total['entero']}}</h4><sub id="centsubtotal">{{sub_total['decimal']}}</sub>
                                    </div>
                                    <div class="r nowrap">
                                        <h2 style="font-size: calc(0.85rem + 1vw);">$</h2>
                                        <h2 id="total" style="font-size: calc(0.85rem + 1vw);">{{total['entero']}}</h2><sub id="centtotal">{{total['decimal']}}</sub>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <hr>
                        </div>
                        <div class="r w-100" style="justify-content: flex-end; margin-bottom: 5px; margin-top: 15px;">
                            <button [ngClass]="{'disabled-color': productos?.length==0,'enabled-color': productos?.length!=0}" [disabled]="productos.length==0" id="siguiente2" class="r bi nowrap" (click)="siguiente()" style="font-size:calc(0.6rem + 0.5vw);outline: none; border: none; border-radius: 6px; color:white; align-items: center; justify-content:center; min-height: 40px; min-width: 115px;">
                                Siguiente
                            </button>
                        </div>
                    </div>
                    <div class="c w-100" *ngIf="view==2">
                        <div class="r w-100 wrap" id="sw500" *ngIf="info_payer['retiro']==''" style="justify-content: space-around; margin-bottom: 5px; margin-top: 30px; padding-bottom: 40px; border-style: groove; border-color: #E5E5E5; border-width: 0px 0px 0.5px 0px;">
                            <button class="c bi nowrap" (click)="setRetiro('domicilio')" style="outline: none;  border-radius: 6px; color:white; align-items: center; justify-content:center;color:#888787; border-style: solid !important; border-color: #888787 !important; border-width: 0.5px ;">
                                    <img id="imge" class="d500" style="margin-top:40px;margin-left: 40px; margin-right: 40px;"
                                        src="assets/icons/envio.png">
                                    <img id="imge" class="a500" style="width:60px;display:none;margin: 10px;margin-bottom: 0px;"
                                        src="assets/icons/enviom.png">
                                    <b id="te" style="margin-bottom: 40px;font-size: calc(0.5rem + 0.7vw);">Envio a Domicilio</b>
                                </button>
                            <button class="c bi nowrap" (click)="setRetiro('tienda')" style="outline: none;  border-radius: 6px; color:white; align-items: center; justify-content:center; color:#888787; border-style: solid !important; border-color: #888787 !important; border-width: 0.5px;">
                                    <img id="imge" class="d500" style="margin:40px; margin-bottom:0px;"
                                        src="assets/icons/retiro.png">
                                    <img id="imge" class="a500" style="width:60px;display:none;margin: 10px;margin-bottom: 0px;"
                                        src="assets/icons/retirom.png">
                                    <b id="te" style="margin-bottom: 40px;font-size: calc(0.5rem + 0.7vw);">Retiro en Tienda</b>
                                </button>
                        </div>
                        <div class="w-100 r wrap" *ngIf="info_payer['retiro']!=''">
                            <div class="r wrap w-100" style=" padding-bottom: 40px; border-style: groove; border-color: #E5E5E5; border-width: 0px 0px 0.5px 0px;">
                                <div style="width: 70%!important">
                                    <div class="c wrap w-100" style="margin-bottom: 10px;">
                                        <small style="color: #B1B1B1">Email de Facturacion</small>
                                        <input name="email" class="bi" type="email" placeholder="Ej: nahusotuyo@gmail.com" [(ngModel)]="this.info_payer.email" style="border-style: groove !important; border-color: #E5E5E5 !important; border-width: 0px 0px 0.5px 0px !important; ">
                                    </div>
                                    <div class="c wrap w-100" style="margin-bottom: 10px;">
                                        <small style="color: #B1B1B1">Nombre</small>
                                        <input name="Nombre" class="bi" type="text" placeholder="Ingrese su nombre" [(ngModel)]="this.info_payer.nombre" style="border-style: groove !important; border-color: #E5E5E5 !important; border-width: 0px 0px 0.5px 0px !important; ">
                                    </div>
                                    <div class="c wrap w-100" style="margin-bottom: 10px;">
                                        <small style="color: #B1B1B1">Apellido</small>
                                        <input name="Apellido" class="bi" type="text" placeholder="Ingrese su apellido" [(ngModel)]="this.info_payer.apellido" style="border-style: groove !important; border-color: #E5E5E5 !important; border-width: 0px 0px 0.5px 0px !important; ">
                                    </div>
                                    <div class="c wrap w-100" style="margin-bottom: 10px;">
                                        <small style="color: #B1B1B1">Telefono</small>
                                        <input name="Telefono" class="bi" type="text" placeholder="Ej: 02302 445567" [(ngModel)]="this.info_payer.telefono" style="border-style: groove !important; border-color: #E5E5E5 !important; border-width: 0px 0px 0.5px 0px !important; ">
                                    </div>
                                    <div class="c wrap w-100" style="margin-bottom: 10px;">
                                        <small style="color: #B1B1B1">DNI</small>
                                        <input name="DNI" class="bi" type="text" pattern="[0-9]{8}" placeholder="MI DNI" [(ngModel)]="this.info_payer.dni" style="border-style: groove !important; border-color: #E5E5E5 !important; border-width: 0px 0px 0.5px 0px !important; ">
                                    </div>
                                    <div class="c wrap w-100" style="margin-bottom: 10px;">
                                        <small style="color: #B1B1B1">Código postal</small>
                                        <input name="Codigo Postal" class="bi" type="text" placeholder="CP" [(ngModel)]="this.info_payer.codigo_postal" style="border-style: groove !important; border-color: #E5E5E5 !important; border-width: 0px 0px 0.5px 0px !important; ">
                                    </div>
                                    <div class="c wrap w-100" style="margin-bottom: 10px;">
                                        <small style="color: #B1B1B1">Direccion</small>
                                        <input name="direccion" class="bi" type="text" placeholder="Ej: 13bis" [(ngModel)]="this.info_payer.direccion" style="border-style: groove !important; border-color: #E5E5E5 !important; border-width: 0px 0px 0.5px 0px !important; ">
                                    </div>
                                    <div class="c wrap w-100" style="margin-bottom: 10px;">
                                        <small style="color: #B1B1B1">Numero</small>
                                        <input name="numero" class="bi" type="text" placeholder="Ej: 782" [(ngModel)]="this.info_payer.numero" style="border-style: groove !important; border-color: #E5E5E5 !important; border-width: 0px 0px 0.5px 0px !important; ">
                                    </div>
                                    <div class="c wrap w-100" style="margin-bottom: 10px;">
                                        <small style="color: #B1B1B1">Ciudad</small>
                                        <input name="localidad" class="bi" type="text" placeholder="Ej: Santa Rosa" [(ngModel)]="this.info_payer.ciudad" style="border-style: groove !important; border-color: #E5E5E5 !important; border-width: 0px 0px 0.5px 0px !important; ">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="r w-100" style="justify-content: space-between; margin-bottom: 5px; margin-top: 30px;">
                            <button class="r bi nowrap" (click)="atras()" style="font-size:calc(0.6rem + 0.5vw);background-color: #8C958D !important;outline: none; border: none; border-radius: 6px; color:white; align-items: center; justify-content:center; min-height: 40px; min-width: 60px;">
                                Atras
                            </button>
                            <button class="r bi nowrap" (click)="generar_preferencia()" style="font-size:calc(0.6rem + 0.5vw);background-color: #1FA02E !important;outline: none; border: none; border-radius: 6px; color:white; align-items: center; justify-content:center;  min-height: 40px; min-width: 115px;">
                                Ir a Pasarela de pago
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="loader" class="c" style="justify-content: center;align-items: center;min-height: -webkit-fill-available;">
    <div class="r nowrap">
        <div class="spinner-border text-success" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
        <p style="font-size: calc(0.6rem + 0.6vw);margin-left:10px;margin-top:3px;">{{mensaje_loader}}</p>
    </div>
</div>