@media(max-width:520px) {
    .d520 {
        display: none !important;
    }
    .a520 {
        display: flex !important;
    }
}

@media(max-width:768px) {
    .d768 {
        display: none;
    }
    .a768 {
        display: flex !important;
    }
    #fotop {
        width: 130px !important;
        height: 130px !important;
    }
    #widthv {
        width: 90% !important;
    }
}

@media(max-width:900px) {
    .d900 {
        display: none;
    }
    .a900 {
        display: flex !important;
    }
    .pl900 {
        padding-left: 0px !important;
    }
}

@media(max-width:1024px) {
    .d1024 {
        display: none;
    }
}

.up:hover {
    box-shadow: 0 0.3rem 1rem #4e4e4e !important;
}

.up::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #888888;
    opacity: 1;
    /* Firefox */
}

.up2:hover {
    box-shadow: 0 0.3rem 1rem rgb(13, 90, 22) !important;
}

.up2::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
    }
}

.imageSpin:hover {
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    -webkit-animation-name: spin;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
}