<div class="col">
    <div class="p-4">
        <div class="row r nowrap">
            <div class="col-3 d900" style="margin-top: 10px; padding: 0px !important;">
                <div class="c wrap">
                    <div class="w-100" style="margin-bottom: 20px;">
                        <a [routerLink]="['/administrador/ventas']" class="row w-100 r nowrap bi" style="text-decoration:none;margin-left:0px; padding-left:0px;justify-content:space-between;align-items: center;">
                            <h5 style="color:black;">Ventas</h5>
                        </a>
                        <div id="separador" style="margin-top:5px;margin-bottom:5px;height:1px;width:100%;border-top:1px solid #CFCFCF;">
                        </div>
                    </div>
                    <div class="w-100" style="margin-bottom: 20px;">
                        <a [routerLink]="['/administrador/promociones']" class="row w-100 r nowrap bi" style="text-decoration:none;margin-left:0px; padding-left:0px;justify-content:space-between;align-items: center;">
                            <h5 style="color:black;">Promociones</h5>
                        </a>
                        <div id="separador" style="margin-top:5px;margin-bottom:5px;height:1px;width:100%;border-top:1px solid #CFCFCF;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col pl900" id="centro " style="padding-right: 0px !important;">
                <div *ngFor="let producto of productos; let i = index" class="c nowrap">
                    <div class="w-100 r nowrap " id="promocion" style="justify-content: space-between;">
                        <!--Vista Crear Promocion con width>768-->
                        <div class=" r nowrap " style="width: 100%;height: 100%;justify-content: space-between;min-height: 125px !important; ">
                            <img id="fotop " src="http://localhost/mundobright/files/publicaciones/{{producto.imagen}}" class="img-fluid d520" alt="... " style="max-width: 190px;max-height: 190px;margin-right: 20px; ">
                            <div class="c nowrap " style="width:100%; justify-content: space-around;">
                                <div style="display:flex;flex-direction:column;align-items: center; ">
                                    <div style="font-size: calc(0.75rem + 0.4vw);text-align: center; ">{{producto.nombre}}
                                    </div>
                                    <div style=" font-size: calc(12px + 0.3vw); margin-top:6px; color:#949494; ">{{producto.marca}}
                                    </div>
                                </div>
                                <div class="r wrap " style="justify-content: space-around;min-height: 70px;align-items: center; " *ngIf="producto.add || producto.promocion!=null">
                                    <mat-form-field style="width:25%; ">
                                        <input [(ngModel)]="producto.promocion.f1" matInput [matDatepicker]="picker" [disabled]="true" style="font-size: calc(0.7rem + 0.3vw); " [min]="today" [max]="producto.promocion.f2">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker [disabled]="!producto.add && !producto.edit" #picker></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field style="width:25%; ">
                                        <input [(ngModel)]="producto.promocion.f2" matInput [matDatepicker]="picker1" [disabled]="true" style="font-size: calc(0.7rem + 0.3vw);" [min]="producto.promocion.f1">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker [disabled]="!producto.add && !producto.edit" #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="!producto.add && !producto.edit && producto.promocion!=null" style="width: 100% !important;font-size: calc(0.8rem + 0.3vw);background-color: rgb(91, 179, 101);padding: calc(6px + 0.1vw);border-radius: 20px;color:white;text-align:center; ">
                                    ${{producto.promocion.precio_promocion}}</div>
                                <div *ngIf="!producto.add && !producto.edit && producto.promocion==null" style="width: 100% !important;font-size: calc(0.8rem + 0.3vw);background-color: rgb(91, 179, 101);padding: calc(6px + 0.1vw);border-radius: 20px;color:white;text-align:center; ">
                                    ${{producto.precio}}</div>
                                <input *ngIf="producto.add || producto.edit" type="text" class="up2" style="border: none !important;width: 100% !important;font-size: calc(0.8rem + 0.3vw);background-color: rgb(91, 179, 101);border-radius: 20px;padding: calc(6px + 0.1vw);color:white;text-align:center; "
                                    [(ngModel)]="precio_edit">
                            </div>
                        </div>
                        <div class="c nowrap d520" style="justify-content: space-around;align-items:center;margin-left:20px;width:60px;">
                            <img (click)="editar(i) " class="imageSpin " src="assets/icons/edit-24px@2x.png " alt="... " style="cursor: pointer;" *ngIf="producto.promocion!=null && !producto.edit && !producto.add">
                            <img (click)="eliminar(i) " class="imageSpin " src="assets/icons/delete-24px@2x.png " alt="... " style="cursor: pointer;" *ngIf="producto.promocion!=null && !producto.edit && !producto.add">
                            <img (click)="agregar(i) " class="imageSpin " src="assets/icons/add_box-24px@2x.png " alt="... " style="cursor: pointer;" *ngIf="!producto.add&& producto.promocion==null">
                            <img (click)="guardar(i) " class="imageSpin " src="assets/icons/check-24px@2x.png " alt="... " style="cursor: pointer;" *ngIf="producto.add">
                            <img (click)="cancelaradd(i) " class="imageSpin " src="assets/icons/cancel-24px@2x.png " alt="... " style="cursor: pointer;" *ngIf="producto.add">
                            <img (click)="guardaredit(i) " class="imageSpin " src="assets/icons/check-24px@2x.png " alt="... " style="cursor: pointer;" *ngIf="producto.edit">
                            <img (click)="cancelaredit(i) " class="imageSpin " src="assets/icons/cancel-24px@2x.png " alt="... " style="cursor: pointer;" *ngIf="producto.edit">
                        </div>
                        <div class="c nowrap a520" style="display:none;justify-content: space-around;align-items:center;width:40px;margin-left:15px;">
                            <img (click)="editar(i) " class="imageSpin " src="assets/icons/edit-24px.png " alt="... " style="cursor: pointer;" *ngIf="producto.promocion!=null && !producto.edit && !producto.add">
                            <img (click)="eliminar(i) " class="imageSpin " src="assets/icons/delete-24px.png " alt="... " style="cursor: pointer;" *ngIf="producto.promocion!=null && !producto.edit && !producto.add">
                            <img (click)="agregar(i) " class="imageSpin " src="assets/icons/add_box-24px.png " alt="... " style="cursor: pointer;" *ngIf="!producto.add&& producto.promocion==null">
                            <img (click)="guardar(i) " class="imageSpin " src="assets/icons/check-24px.png " alt="... " style="cursor: pointer;" *ngIf="producto.add">
                            <img (click)="cancelaradd(i) " class="imageSpin " src="assets/icons/cancel-24px.png " alt="... " style="cursor: pointer;" *ngIf="producto.add">
                            <img (click)="guardaredit(i) " class="imageSpin " src="assets/icons/check-24px.png" alt="... " style="cursor: pointer;" *ngIf="producto.edit">
                            <img (click)="cancelaredit(i) " class="imageSpin " src="assets/icons/cancel-24px.png" alt="... " style="cursor: pointer;" *ngIf="producto.edit">
                        </div>
                    </div>
                    <hr style="width: -webkit-fill-available; ">
                </div>

            </div>
        </div>
    </div>
</div>