<div class="col" *ngIf="!data['administrador']">
    <div class="p-4 r" style="justify-content: center;">
        <div class="c" id="w90" style="width:60%;">
            <div class="c wrap w-100" style="margin-bottom: 10px;padding:5px;">
                <small style="color: #B1B1B1">Correo</small>
                <input name="Correo" class="bi" type="text" placeholder="Correo" style="border-style: groove !important; border-color: #E5E5E5 !important; border-width: 0px 0px 0.5px 0px !important; " [(ngModel)]="loginData.correo">
            </div>
            <div class="c wrap w-100" style="margin-bottom: 10px;padding:5px;">
                <small style="color: #B1B1B1">Password</small>
                <input name="Password" class="bi" type="password" placeholder="Password" style="border-style: groove !important; border-color: #E5E5E5 !important; border-width: 0px 0px 0.5px 0px !important; " [(ngModel)]="loginData.password">
            </div>
            <button (click)="login()" style="border:none;border-radius: 20px;background-color: black;color:white;padding:9px;width:100%;margin-bottom: 15px;">Acceder</button>
            <a href="" class="r" style="font-size: calc(0.6rem + 0.3vw);align-self:flex-end;color:#919191">Olvide mi contraseña.</a>
        </div>
    </div>
</div>

<router-outlet *ngIf="data['administrador']"></router-outlet>