<header class="shadow mb-5 bg-white rounded w-100" style="position: fixed;z-index: 1001;">
    <div class="r nowrap" style="margin-left: 10px; ">
        <!--logo width>768-->
        <a [routerLink]="['/']" class="d-flex d768" style="align-items: center; position: relative;display: inline-block; width:120px; ">
            <img style="position: absolute;top: 71%;left: 50%;transform: translate(-50%, -50%);" src="assets/icons/mb-logo-1.png">
        </a>
        <div class="col dpt768" style="padding-left:0px; padding-top: 8px;">
            <!--imagenes superiores header-->
            <div class="row justify-content-between d768" style="margin-left: 7px; margin-right: 0px;">
                <div class="r">
                    <div style="color:#919191;font-size: 12px;margin-right: 4px;">Estas en</div>
                    <div style="color:#474747;font-size: 12px;margin-right: 4px;">Mundo Bright</div>
                    <div style="color:#474747;font-size: 12px;margin-right: 4px;">General Pico</div>
                    <div class="r" style="cursor: pointer;">
                        <img src="assets/icons/Editar.png">
                        <div style="color:#1FA02E;font-size: 12px;">Cambiar</div>
                    </div>
                </div>
                <a *ngIf="!data['administrador']" style="cursor: pointer;color:#474747;font-size: 12px;">Horarios de entrega disponibles</a>
                <div *ngIf="data['administrador']" class="r">
                    <a [routerLink]="['administrador/ventas']" style="margin-right:6px;cursor: pointer;color:#474747;font-size: 12px;">Ventas</a>
                    <div style="margin-right:6px;cursor: pointer;color:#474747;font-size: 12px;">||</div>
                    <a [routerLink]="['administrador/promociones']" style="margin-right:6px;cursor: pointer;color:#474747;font-size: 12px;">Promociones</a>
                    <div style="margin-right:6px;cursor: pointer;color:#474747;font-size: 12px;">||</div>
                    <a (click)="cerrarSesion()" style="cursor: pointer;color:#474747;font-size: 12px;">Cerrar Session!</a>
                </div>
            </div>
            <!--separador-->
            <div class="w-100 d768" style="margin-top:3px;height:1px;border-top:1px solid #E5E5E5;"></div>
            <div class="row r nowrap" style=" flex-direction: row-reverse !important; align-items: center;">
                <!--carrito con width>768-->
                <a [routerLink]="['/carrito']" style="text-decoration: none; padding-left:35px;" class="d768" *ngIf="!data['administrador']">
                    <button class="row r nowrap bcarrito" id="carrito" style="margin-right: 0px; min-height:60px;background-color: #1FA02E ; outline: none; border: none;  color:white; align-items: center; justify-content:center; padding:13px;">
                        <div style="position: relative;display: inline-block;text-align: center; ">
                            <img src="assets/icons/carrito2-icono.png"
                                style="padding-right: 7px;">
                            <small id="cantcarrito"
                                style="position: absolute;top: 34%;left: 43%;transform: translate(-50%, -50%);">{{data['cant_productos_carrito']}}</small>
                        </div>
                        <div style="margin-right: 2px; margin-left: 2px;">MI </div>
                        <div style="margin-right: 2px; margin-left: 2px;">CARRITO </div>
                    </button>
                </a>
                <a style="text-decoration: none; padding-left:35px;" class="d768" *ngIf="data['administrador']">
                    <button class="row r nowrap bcarrito" id="carrito" style="margin-right: 0px; min-height:60px;background-color: #1FA02E ; outline: none; border: none;  color:white; align-items: center; justify-content:center; padding:13px;">
                            <img src="assets/icons/outline_person_white_18dp.png"
                                style="padding-right: 7px;width:30px;">
                        <div style="margin-right: 2px; margin-left: 2px;">{{data['nombre']}}</div>
                    </button>
                </a>
                <!--carrito con width<768-->
                <a [routerLink]="['/carrito']" class="a768" style="text-decoration: none; display:none; padding-left:25px;" *ngIf="!data['administrador']">
                    <button class="row r nowrap bcarrito bi" id="marginc" style="margin-right: 0px; min-height:40px; align-items: center; justify-content:center; ">
                            <div style="position: relative;display: inline-block;text-align: center; ">
                                <img src="assets/icons/carriton-icono.png"
                                    style="padding-right: 13px;">
                                <small id="cantcarrito"
                                    style="position: absolute;top: 24%;left: 73%;transform: translate(-50%, -50%); align-self:center; justify-content:center;border-width: 0.5px; border-radius: 12px; min-width: 25px;background-color: #000000; color: white;">{{data['cant_productos_carrito']}}</small>
                            </div>
                    </button>
                </a>
                <a class="a768" style="text-decoration: none; display:none; padding-left:25px;" *ngIf="data['administrador']">
                    <button class="row r nowrap bcarrito bi" id="marginc" style="margin-right: 0px; min-height:40px; align-items: center; justify-content:center; ">
                            <div style="position: relative;display: inline-block;text-align: center; ">
                                <img src="assets/icons/outline_person_black_18dp.png"
                                    style="padding-right: 13px;width:40px">
                                <small id="cantcarrito"
                                    style="position: absolute;top: 24%;left: 73%;transform: translate(-50%, -50%); align-self:center; justify-content:center;border-width: 0.5px; border-radius: 12px; min-width: 25px;background-color: #000000; color: white;">4</small>
                            </div>
                </button>
                </a>
                <div class="row w-100 nowrap r" style="height: 83%; margin-left: 16px; align-items: center;">
                    <!--categorias con width>768-->
                    <div class="d768" style="width:115px;margin-left:16px; margin-right:18px;">
                        <div class="dropdown p-0" style="margin-right:0px !important;">
                            <button class="row r nowrap" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none; align-items:center;" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <img  src="assets/icons/Sanguche.png" style="margin-right: 5px;">
                                <div style="font-size: 0.8rem;color:#595959; border:#707070;" *ngIf="!data['administrador']">CATEGORIAS</div>
                                <div [ngClass]="{'ocultar': vista!=1}" style="font-size: 0.8rem;color:#595959; border:#707070;" *ngIf="data['administrador']">OPCIONES</div>

                                <img src="assets/icons/desplegable.png"
                                    style="margin-left:5px;margin-right: 10px;">
                            </button>
                            <div *ngIf="!data['administrador']" class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button *ngFor="let categoria of categorias; let i = index" class="dropdown-item" type="button">{{categoria.nombre}}</button>
                            </div>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2" *ngIf="data['administrador']">
                                <button [routerLink]="['administrador/ventas']" class="dropdown-item" type="button">Ventas</button>
                                <button [routerLink]="['administrador/promociones']" class="dropdown-item" type="button">Promociones</button>
                            </div>
                        </div>
                    </div>
                    <!--categorias y logo con width<768-->
                    <div class="a768 r nowrap " style="display: none; margin-left: 10px; align-items: center;">
                        <div class="dropdown p-0" style="margin-right:7px;">
                            <button class="row r nowrap" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none; align-items:center;" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <img id="sanguche" src="assets/icons/Sanguchem.png" style="margin-right: 5px;">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2" *ngIf="!data['administrador']">
                                <button *ngFor="let categoria of categorias; let i = index" class="dropdown-item" type="button">{{categoria.nombre}}</button>

                            </div>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2" *ngIf="data['administrador']">
                                <button [routerLink]="['administrador/ventas']" class="dropdown-item" type="button">Ventas</button>
                                <button [routerLink]="['administrador/promociones']" class="dropdown-item" type="button">Promociones</button>
                            </div>
                        </div>
                        <a [routerLink]="['/']" class="d-flex" id="logo" style="width:40px;">
                            <img src="assets/icons/mb-logo-2.png">
                        </a>
                    </div>
                    <!--search input-->
                    <div id="divs" class="col r nowrap align-items-center" style=" border-style: groove; border-color: #707070; border-width: 0.5px; border-radius: 19px;
                             padding: 6px; ">
                        <input type="text" class="w-100 bi" placeholder="Buscar.." style="font-size: calc(1rem + 0.35vw); margin-left:10px; border: none;">
                        <button class="bi" style="padding-right:0px!important;">
                            <img id="lupa" src="assets/icons/search.png"
                                style="margin-right: 10px;">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="flex-grow-1" id="cuerpo" style="margin-top:100px;">
    <router-outlet></router-outlet>
</section>

<footer class="c w-100">
    <div id="fbs" class="r nowrap w-100" style="justify-content: space-around; background-color:#F9F9F9;padding:15px;">
        <a href="/" class="c ba" id="mt20" style="align-items: center;text-decoration: none;color:black;">
            <img src="assets/icons/image1.png" style="width:29px;">
            <h4 style="font-size: calc(0.9rem + 0.7vw); margin-top: 5px;">Cómo Comprar</h4>
            <h6 id="ta" style="color:#919191;text-align:center;font-size: calc(0.5rem + 0.5vw);">Si ténes alguna duda, ingresá acá</h6>
        </a>
        <a href="/" class="c ba" id="mt20" style="align-items: center;text-decoration: none;color:black;">
            <img src="assets/icons/image.png" style="width:29px;">
            <h4 style="font-size: calc(0.9rem + 0.7vw);margin-top: 5px;">Tiendas</h4>
            <h6 id="ta" style="color:#919191;margin-left:10px;text-align:center;font-size: calc(0.5rem + 0.5vw);">Encontrá tu tienda mas cercana</h6>
        </a>
        <a href="/" class="c ba" id="mt20" style="align-items: center;text-decoration: none;color:black;">
            <img src="assets/icons/image2.png" style="width:29px;">
            <h4 style="font-size: calc(0.9rem + 0.7vw);margin-top: 5px;">Entregas</h4>
            <h6 id="ta" style="color:#919191;margin-left:10px;text-align:center;font-size: calc(0.5rem + 0.5vw);">Conocé nuestros métodos de entrega</h6>
        </a>
        <a href="/" class="c ba" id="mt20" style="align-items: center;text-decoration: none;color:black;">
            <img src="assets/icons/image0.png" style="width:29px;">
            <h4 style="font-size: calc(0.9rem + 0.7vw);margin-top: 5px;">Pagos</h4>
            <h6 id="ta" style="color:#919191;margin-left:10px;text-align:center;font-size: calc(0.5rem + 0.5vw);">Conocé nuestros medios de pago habilitados</h6>
        </a>
    </div>
    <div class="c w-100" style="background-color:#1A1A1A;padding:15px; align-items: center;">
        <!--botones con widht<768-->
        <div class="d768 r nowrap" style="width:60%;justify-content: space-around; margin-bottom: 20px;">
            <div class="c" style="color:white;">
                <h4 style="font-size: calc(0.7rem + 0.3vw);">
                    NOSOTROS
                    <div style="width:30px;margin-top:3px;height:1px;border-top:1px solid #919191;"></div>
                </h4>
            </div>
            <div class="c" style="color:white;">
                <h4 style="font-size: calc(0.7rem + 0.3vw);">
                    TIENDA ONLINE
                    <div style="width:30px;margin-top:3px;height:1px;border-top:1px solid #919191;"></div>
                </h4>
            </div>
            <div class="c" style="color:white;">
                <h4 style="font-size: calc(0.7rem + 0.3vw);">
                    AYUDA
                    <div style="width:30px;margin-top:3px;height:1px;border-top:1px solid #919191;"></div>
                </h4>
            </div>
            <div class="c" style="color:white;">
                <h4 style="font-size: calc(0.7rem + 0.3vw);">
                    VISITA TAMBIEN
                    <div style="width:30px;margin-top:3px;height:1px;border-top:1px solid #919191;"></div>
                </h4>
            </div>
        </div>
        <!--botones con widht<768-->
        <div class="a768 c w-100" style="display:none;align-items: center; margin-bottom: 20px;">
            <div class="c" style="margin-top: 10px;">
                <button class="bi" style="width:max-content; padding:0px;color:white;border-style: groove !important; border-color: #cabbbb !important; border-width: 0px 0px 1px 0px !important;">
                    <h4 style="width:max-content; font-size: calc(0.9rem); margin-bottom:3px;">
                        NOSOTROS
                        <img src="assets/icons/chevronblanco.png">
                    </h4>
                </button>
            </div>
            <div class="c" style="margin-top: 10px;">
                <button class="bi" style="width:max-content; padding:0px;color:white;border-style: groove !important; border-color: #cabbbb !important; border-width: 0px 0px 1px 0px !important;">
                    <h4 style="width:max-content; font-size: calc(0.9rem); margin-bottom:3px;">
                        TIENDA ONLINE
                        <img src="assets/icons/chevronblanco.png">
                    </h4>
                </button>
            </div>
            <div class="c" style="margin-top: 10px;">
                <button class="bi" style="width:max-content; padding:0px;color:white;border-style: groove !important; border-color: #cabbbb !important; border-width: 0px 0px 1px 0px !important;">
                    <h4 style="width:max-content; font-size: calc(0.9rem); margin-bottom:3px;">
                        AYUDA
                        <img src="assets/icons/chevronblanco.png">
                    </h4>
                </button>
            </div>
            <div class="c" style="margin-top: 10px;">
                <button class="bi" style="width:max-content; padding:0px;color:white;border-style: groove !important; border-color: #cabbbb !important; border-width: 0px 0px 1px 0px !important;">
                    <h4 style="width:max-content; font-size: calc(0.9rem); margin-bottom:3px;">
                        VISITA TAMBIEN
                        <img src="assets/icons/chevronblanco.png">
                    </h4>
                </button>
            </div>
        </div>
        <div class="r wrap w-100" style="justify-content: center;margin-top:10px;">
            <a [routerLink]="['/']"><img src="assets/icons/mb-logo-1.png"></a>
            <div id="social-test" class="w-100" style="margin-top: 30px;">
                <ul class="social r nowrap" style="justify-content:center;">
                    <li class="bs" id="facebook"><i style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);" class="bi fa fa-facebook" aria-hidden="true"></i></li>
                    <li class="bs" id="twitter" style="margin-left:10px;margin-right:10px;"><i style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);" class="bi fa fa-twitter" aria-hidden="true"></i></li>
                    <li class="bs" id="instagram"><i style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);" class="bi fa fa-instagram" aria-hidden="true"></i></li>
                </ul>
            </div>
            <h6 style="color:#919191"><small>&copy; 2019 MundoBright | Copyright &copy; SyWid</small></h6>
        </div>
    </div>
</footer>