@media(max-width:768px) {
    .d768 {
        display: none !important;
    }
    .a768 {
        display: flex !important;
    }
    .dpt768 {
        padding-top: 0px !important;
    }
    #lupa {
        content: url("../assets/icons/searchm.png");
    }
    #divc {
        margin: none;
        min-height: 40px;
    }
    #divs {
        max-height: 27px !important;
    }
    #fbs {
        flex-direction: column !important;
        padding-bottom: 30px !important;
    }
    #mt20 {
        margin-top: 20px;
    }
    #cuerpo {
        margin-top: 40px !important;
    }
}

#carrito:hover {
    background-color: #138520 !important;
}

@media(max-width:500px) {
    .d500 {
        display: none !important;
    }
    .a500 {
        display: flex !important;
    }
    #ap {
        padding-top: 8px !important;
        padding-right: 0px !important;
        margin-right: 15px !important;
    }
}

#social-test {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
}

.social {
    padding-left: 0px;
}

.bs {
    color: #919191;
    list-style-type: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 1%;
    background-color: #363636;
    cursor: pointer;
    transition: ease .3s;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    position: relative;
    display: inline-block;
}

#facebook:hover {
    color: #ffffff;
    background-color: #3b5998;
}

#twitter:hover {
    color: #ffffff;
    background-color: #0084b4;
}

#instagram:hover {
    color: #ffffff;
    background-color: #bc2a8d;
}

.ba:hover #ta {
    color: #1FA02E !important;
}