@media(max-width:768px) {
    .d768 {
        display: none;
    }
    .a768 {
        display: flex !important;
    }
    #fotop {
        width: 130px !important;
        height: 130px !important;
    }
}

#producto:hover #nombrep {
    white-space: pre-line !important;
    text-align: center !important;
}

@media(max-width:1024px) {
    .d1024 {
        display: none;
    }
}

@media(max-width:520px) {
    .d520 {
        display: none !important;
    }
    .a520 {
        display: flex !important;
    }
}

@media(max-width:900px) {
    .d900 {
        display: none;
    }
    .a900 {
        display: flex !important;
    }
    .pl900 {
        padding-left: 0px !important;
    }
}

img.grid_on_img {
    content: url("../../assets/icons/grid-view.png");
}

img.list_on_img {
    content: url("../../assets/icons/list2-view.png");
}

.grid-view {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-style: none;
    padding: 0px;
    border-color: #1FA02E;
    border-width: 0px 0px 2px 0px;
    margin-right: 7px;
    margin-bottom: 2px;
}

.grid-view-on {
    border-style: groove;
    margin-bottom: 0px;
}

.list-view {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-style: none;
    padding: 0px;
    border-color: #1FA02E;
    border-width: 0px 0px 2px 0px;
    margin-bottom: 2px;
}

.list-view-on {
    border-style: groove;
    margin-bottom: 0px;
}

.ocultar {
    display: none;
}

.fondo-gris {
    background-color: #D3D3D3 !important;
}