<div *ngIf="!loader" class="col">
    <div class="p-4">
        <!--barra de navegacion-->
        <div class="row container d768" style="margin-bottom: 15px; margin-top:5px;padding-left: 0px !important;">
            <h6 style="color:#696969; margin-right: 5px;font-size: calc(0.7rem + 0.5vw);">Mundo Bright | </h6>
            <h6 style="color:#1FA02E;font-size: calc(0.7rem + 0.5vw);"> Resultado de la busqueda </h6>
        </div>
        <!--busqueda info width>768-->
        <div class="row r a768 nowrap" style="display:none; align-items:center;border-style: groove; border-color: #E3E3E3; border-width: 0px 0px 0.5px 0px;">
            <div class="r nowrap h-100" style=" align-items: center;  margin-bottom:7px;">
                <img src="assets/icons/searchm.png" style="margin-right:5px; margin-left:15px;">
                <h5 style="margin-bottom: 0px; margin-right: 15px;">Busqueda: </h5>
            </div>
            <h6 class="r nowrap" style="margin-bottom: 5px !important;">
                <div style="color: #B1B1B1; margin-left: 5px; margin-right: 2px;"> {{productos?.length-1}} </div>
                <div style="color: #B1B1B1; margin-left: 5px; margin-right: 5px;">Productos</div>
            </h6>
        </div>
        <div class="row r nowrap">
            <!--categorias width>900-->
            <div class="col-3 d900" style="margin-top: 10px; padding: 0px !important;">
                <div class="c wrap">
                    <div class="w-100" style="margin-bottom: 20px;">
                        <button onclick="categoria('categoria1')" class="row w-100 r nowrap bi" style="margin-left:0px; padding-left:0px;justify-content:space-between;align-items: center;">
                                <h5>Categoria1</h5>
                                <img id="categoria1" src="assets/icons/expandirsubcategoria.png"
                                    style="margin-left:30px;">
                            </button>
                        <div id="scategoria1" class="r wrap" style="display: none;">
                            <div class="r nowrap w-100" style="margin-top: 2px; margin-bottom: 2px;">
                                <div>subcategoria1</div>
                                <div style="margin-left: 6px;">(11)</div>
                            </div>
                            <div class="r nowrap w-100" style="margin-top: 2px; margin-bottom: 2px;">
                                <div>subcategoria2</div>
                                <div style="margin-left: 6px;">(22)</div>
                            </div>
                            <div class="r nowrap w-100" style="margin-top: 2px; margin-bottom: 2px;">
                                <div>subcategoria3</div>
                                <div style="margin-left: 6px;">(3)</div>
                            </div>
                        </div>
                        <div id="separador" style="margin-top:5px;margin-bottom:5px;height:1px;width:100%;border-top:1px solid #CFCFCF;">
                        </div>
                    </div>
                    <div class="w-100" style="margin-bottom: 20px;">
                        <button onclick="categoria('categoria2')" class="row w-100 r nowrap bi" style="margin-left:0px; padding-left:0px;justify-content:space-between;align-items: center;">
                                <h5>Categoria2</h5>
                                <img id="categoria2" src="assets/icons/expandirsubcategoria.png"
                                    style="margin-left:30px;">
                            </button>
                        <div id="scategoria2" class="r wrap" style="display: none;">
                            <div class="r nowrap w-100" style="margin-top: 2px; margin-bottom: 2px;">
                                <div>subcategoria1</div>
                                <div style="margin-left: 6px;">(23)</div>
                            </div>
                        </div>
                        <div id="separador" style="margin-top:5px;margin-bottom:5px;height:1px;width:100%;border-top:1px solid #CFCFCF;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col pl900" id="centro " style="padding-right: 0px !important;">
                <!--flitros width>768-->
                <div class="r nowrap d768" style="padding-left: 18px; margin-bottom: 30px; margin-right: 3px;">
                    <div class="col" style="padding-left: 0px !important;">
                        <div class="row h-100 r nowrap" style="align-items:center;border-style: groove; border-color: #E3E3E3; border-width: 0.5px 0px 0.5px 1px;">
                            <div class="r nowrap h-100" style="border-style: groove; padding:0px ; border-color: #1FA02E; border-width: 0px 0px 2px 0px; align-items: center; margin-left: 15px;">
                                <img src="assets/icons/search.png" style="margin-right:5px; margin-left:15px;">
                                <h4 class="d520" style="margin-bottom: 0px; margin-right: 15px;">Busqueda: </h4>
                            </div>
                            <div style="color: #B1B1B1; margin-left: 5px; margin-right: 2px;"> {{productos?.length-1}} </div>
                            <div style="color: #B1B1B1; margin-left: 5px; margin-right: 5px;">Productos</div>
                        </div>
                    </div>
                    <div class="col-3" style="border-style: groove; padding:0px ; border-color: #E3E3E3; border-width: 0.5px 0px 0.5px 0.5px; padding-top: 15px; padding-bottom: 15px; ">
                        <div class="dropdown p-0 w-100 r h-100" style="align-items:center;">
                            <button class="row w-100 r nowrap bi h-100" style="margin-left:4px; align-items:center; justify-content: center; " type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="d1024" style="color: #B1B1B1; margin-bottom: 0px;margin-right: 5px;">Ordenar por</div>
                                    O-S
                                    <img src="assets/icons/drop-down-arrow.png"
                                        style="margin-left:5px;">
                                </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item" type="button">A-Z</button>
                                <button class="dropdown-item" type="button">Z-A</button>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="border-style: groove; border-color: #E3E3E3; border-width: 0.5px; padding: 0px !important;">
                        <div class="row r nowrap h-100" style=" align-items:center; justify-content:center; margin-left:3px; margin-right:3px; ">
                            <div class="d1024" style="margin-bottom: 2px; margin-left: 5px;  color: #B1B1B1 ">
                                Vista por
                            </div>

                            <button style="margin-left: 5px;" class="h-100 grid-view" [ngClass]="{'grid-view-on': vista==1}" (click)="changeVista(1)">
                                    <img [ngClass]="{'grid_on_img': vista==1}" src="assets/icons/grid2-view.png"></button>
                            <button style="margin-right: 5px;" class="h-100 list-view" [ngClass]="{'list-view-on': vista==2}" (click)="changeVista(2)">
                                    <img [ngClass]="{'list_on_img': vista==2}" src="assets/icons/list-view.png"></button>
                        </div>
                    </div>
                </div>
                <div class="c nowrap" id="productos">

                    <!--productos grid-->
                    <div class="r wrap" id="pgrid" [ngClass]="{'ocultar': vista!=1}">
                        <div class="col-3" id="producto" *ngFor="let producto of productos; let i = index">
                            <div style="margin:3px;">
                                <div class="card row r" style="padding:3px; justify-content: center;">
                                    <img id="fotopid1" src="http://localhost/mundobright/files/publicaciones/{{producto.imagen}}" class="img-fluid card-img-top" alt="..." style="max-width: 209px;max-height: 209px;">
                                    <div class="col">
                                        <div class="row" style="display:flex; flex-direction: row; justify-content:center; ">
                                            <div class="c col nowrap" style="align-items:center;">
                                                <div id="nombrep" style="text-overflow: ellipsis;
                                                        overflow: hidden; white-space: nowrap; width: -webkit-fill-available;font-size: calc(0.3rem + 1vw);">{{producto.nombre}}</div>
                                                <div style="color: #B1B1B1; font-size: calc(0.3rem + 1vw);">{{producto.marca}}</div>
                                                <div class="r nowrap w-100" style="justify-content: center;height: 60px !important;">
                                                    <img *ngIf="producto.promocion!=null" src="assets/icons/descuento.png" style="max-height: 21px;align-self: flex-end;margin-right: 5px;">

                                                    <div *ngIf="producto.promocion!=null" style="color: #00AA32;align-self:flex-end; font-size: calc(0.3rem + 1vw);text-align:center;"><b style="margin-right: 3px;font-size: calc(0.3rem + 1vw);">$</b><b id="preciopid1">{{producto.promocion.precio_promocion}}</b>
                                                    </div>
                                                    <div *ngIf="producto.promocion==null" style="color: #00AA32;align-self:flex-end; font-size: calc(0.3rem + 1vw);text-align:center;"><b style="margin-right: 3px;font-size: calc(0.3rem + 1vw);">$</b><b id="preciopid1">{{producto.precio}}</b>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row r nowrap" style="margin-top:17px; justify-content:center; padding-bottom:2px; padding-right:5px; padding-left: 5px; width: 100%;">
                                                <div class="gproductocant1 r nowrap" style="padding: 0!important; margin-left: 3px;">
                                                    <div clas="row r" style="width:95%;display:flex; flex-direction: row; justify-content:center; ">
                                                        <div class="col-8" style="background-color: #F2F2F2; padding: 10px; border-radius: 6px; margin-right: 3px;">
                                                            <div class="r" style="justify-content: center;font-size: calc(0.27rem + 1vw);">{{producto.cant_productos}}</div>
                                                        </div>
                                                        <div class="col-4 c" style="display: flex; flex-direction: column; ">
                                                            <button (click)="aumentarCantidad(producto.id_localstorage,i)" [ngClass]="{'fondo-gris': producto.cant_productos==producto.cantidad}" class="row r" style="font-size: calc(0.2rem + 1vw);outline: none; border: none; background-color: #707070;  border-radius: 6px; color:white; justify-content: center; margin-bottom: 1px; align-content:center; max-height: 21px;  ">
                                                                    +
                                                                </button>
                                                            <button (click)="disminuirCantidad(producto.id_localstorage,i)" [ngClass]="{'fondo-gris': producto.cant_productos==1}" class="row r" style="font-size: calc(0.2rem + 1vw);outline: none; border: none; background-color: #707070;  border-radius: 6px; color:white; justify-content: center; margin-top: 1px; align-content:center;  max-height: 21px; ">
                                                                    -
                                                                </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--boton agregar-->
                                                <div class="col r wrap" style="padding: 0!important;margin-left: 3px;">
                                                    <button *ngIf="producto.id_localstorage==null" class="row r wrap" (click)="addProducto(i)" style="margin-left: 3px ;background-color: #93CF2E ; outline: none; border: none; border-radius: 6px; color:white; align-items: center; justify-content:center;width: 100%;">
                                                            <!--simbolo + width>768-->    
                                                            <b class="d768"
                                                                    style="margin-bottom: 3px; margin-right: 6px;">+</b>
                                                                <img src="assets/icons/carrito-icono.png" style="padding-right: 7px;">
                                                            </button>
                                                    <button *ngIf="producto.id_localstorage!=null" class="row r wrap" (click)="deleteProducto(producto.id_localstorage,i)" style="margin-left: 3px ;background-color: #FF6262 ; outline: none; border: none; border-radius: 6px; color:white; align-items: center; justify-content:center;width: 100%;">
                                                                    <img src="assets/icons/garbage.png" style="padding-right: 7px;">
                                                            </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--productos list/carrito-->
                    <div class="r wrap" id="plist" [ngClass]="{'ocultar': vista==1}" *ngFor="let producto of productos; let i = index">
                        <div class="w-100 r wrap" style="margin-bottom: 5px; margin-left: 3px;">
                            <div class="w-100 r nowrap" style=" padding:3px; align-items: center; justify-content: space-between;">
                                <div class="col" style="padding-left: 0px;">
                                    <div class="r nowrap" style="align-items: center;">
                                        <img id="fotop" src="http://localhost/mundobright/files/publicaciones/{{producto.imagen}}" class="img-fluid" alt="..." style="max-width: 209px;max-height: 209px;">
                                        <!--descripcion producto width>768-->
                                        <div class="c wrap d768 w-100" style="align-items: center; margin-left: 5px;">
                                            <div style="text-align: center; font-size: calc(0.7rem + 0.5vw);">{{producto.nombre}}</div>
                                            <div style="color: #B1B1B1;font-size:calc(0.5rem + 0.7vw);" id="marcapid1">{{producto.marca}}</div>
                                        </div>
                                        <!--descripcion producto width<768-->
                                        <div class="c wrap a768 w-100" style="display:none;align-items: center;justify-content: space-between; margin-left:5px;">
                                            <div style="text-align: center; ">
                                                <h6 style="font-size: calc(0.6rem + 1vw);">{{producto.nombre}}</h6>
                                            </div>
                                            <div style="color: #B1B1B1; font-size: calc(0.5rem + 1vw);">{{producto.marca}}</div>
                                            <div class="r nowrap">
                                                <img *ngIf="producto.promocion!=null" src="assets/icons/descuento.png" style="max-height: 21px;align-self: flex-end;margin-right: 5px;">

                                                <div *ngIf="producto.promocion!=null" style="color: #00AA32;"><b style="margin-right: 3px;font-size: calc(0.6rem + 1vw);">$</b><b id="preciopid1" style="font-size: calc(0.6rem + 1vw);">{{producto.promocion.precio_promocion}}</b>
                                                </div>
                                                <div *ngIf="producto.promocion==null" style="color: #00AA32;"><b style="margin-right: 3px;font-size: calc(0.6rem + 1vw);">$</b><b id="preciopid1" style="font-size: calc(0.6rem + 1vw);">{{producto.precio}}</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--botonera width<768-->
                                    <div class="r nowrap a768" style="display:none; justify-content: space-between; margin-left:15px;">
                                        <div class="r nowrap" style="margin-right:2px;">
                                            <button (click)="aumentarCantidad(producto.id_localstorage,i)" [ngClass]="{'fondo-gris': producto.cant_productos==producto.cantidad}" class="row" style="font-size: calc(0.4rem + 1vw);width:35px !important; margin-right:2px; outline: none; border: none; background-color: #707070;  border-radius: 6px; color:white; justify-content: center; margin-bottom: 1px; align-items: center;">
                                                +
                                                </button>
                                            <div style="background-color: #F2F2F2; padding: 10px; border-radius: 6px; padding-right: 50px; position: relative;display: inline-block;text-align: center; ">
                                                <p style="font-size: calc(0.6rem + 1vw);position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);font-size: calc(0.7rem + 1vw);">{{producto.cant_productos}}</p>
                                            </div>
                                            <button (click)="disminuirCantidad(producto.id_localstorage,i)" [ngClass]="{'fondo-gris': producto.cant_productos==1}" class="row" style="font-size: calc(0.24rem + 1vw);width:35px; margin-left:2px; outline: none; border: none; background-color: #D3D3D3;  border-radius: 6px; color:white; justify-content: center; margin-top: 1px;align-items: center;">
                                                -
                                            </button>
                                        </div>
                                        <div class="col" style="padding-right: 0px;">
                                            <button *ngIf="producto.id_localstorage==null" class="r nowrap" (click)="addProducto(i)" style="background-color: #93CF2E ; outline: none; border: none; border-radius: 6px; color:white; min-height: 45px;  width: 100%; color: white; justify-content: center; align-items: center;">
                                                    <b style="margin-right: 5px; margin-bottom: 3px;">+</b>
                                                    <img src="assets/icons/carrito-icono.png">
                                                </button>
                                            <button *ngIf="producto.id_localstorage!=null" class="r nowrap" (click)="deleteProducto(producto.id_localstorage,i)" style="background-color: #FF6262 ; outline: none; border: none; border-radius: 6px; color:white; min-height: 45px; width: 100%; color: white; justify-content: center; align-items: center;">
                                                    <img src="assets/icons/garbage.png">
                                                </button>
                                        </div>
                                    </div>
                                </div>
                                <!--botonera y precio producto width>768-->
                                <div class="col-4 d768">
                                    <div style="display:flex; flex-direction:row; flex-wrap: nowrap; align-items: center; ">
                                        <div class="r" style="justify-content:flex-end;width:30%;margin-right: 14px;color: #00AA32;">
                                            <img *ngIf="producto.promocion!=null" src="assets/icons/descuento.png" style="max-height: 21px;margin-bottom:2px;align-self: flex-end;margin-right: 5px;">

                                            <b style="font-size:calc(0.5rem + 0.7vw);">$</b><b *ngIf="producto.promocion!=null" id="preciopid1" style="font-size: calc(0.5rem + 0.7vw);">{{producto.promocion.precio_promocion}}</b><b *ngIf="producto.promocion==null"
                                                id="preciopid1" style="font-size: calc(0.5rem + 0.7vw);">{{producto.precio}}</b>
                                        </div>
                                        <div class="col" style="display:flex;flex-direction:column;flex-wrap: nowrap; ">
                                            <div class="r nowrap">
                                                <div class="col-8 " style="background-color: #F2F2F2; padding: 10px; border-radius: 6px;  position: relative;display: inline-block;text-align: center; ">
                                                    <p id="lcantpid1 " style="font-size: calc(0.35rem + 1vw);position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%); ">{{producto.cant_productos}}</p>
                                                </div>
                                                <div class="col-4 c" style="display: flex; flex-direction: column;">
                                                    <button (click)="aumentarCantidad(producto.id_localstorage,i)" class="row" style="font-size: calc(0.2rem + 1vw);outline: none; border: none; background-color: #707070;  border-radius: 6px; color:white; justify-content: center; margin-bottom: 1px; align-items: center;">
                                                            +
                                                        </button>
                                                    <button (click)="disminuirCantidad(producto.id_localstorage,i)" class="row" style="font-size: calc(0.2rem + 1vw);outline: none; border: none; background-color: #707070;  border-radius: 6px; color:white; justify-content: center; margin-top: 1px;align-items: center;">
                                                            -
                                                        </button>
                                                </div>
                                            </div>
                                            <button *ngIf="producto.id_localstorage==null " class="r nowrap " (click)="addProducto(i) " style="background-color: #93CF2E ; outline: none; border: none; border-radius: 6px; color:white; min-height:
                                                    45px; margin-top: 3px; width: 100%; color: white; justify-content: center; align-items: center; ">
                                                    <b style="margin-right: 5px; margin-bottom: 3px; ">+</b>
                                                    <img src="assets/icons/carrito-icono.png ">
                                                </button>
                                            <button *ngIf="producto.id_localstorage!=null " class="r nowrap " (click)="deleteProducto(producto.id_localstorage,i) " style="background-color: #FF6262 ; outline: none; border: none; border-radius: 6px;
                                                    color:white; min-height: 45px; margin-top: 3px; width: 100%; color: white; justify-content: center; align-items: center; ">
                                                    <img src="assets/icons/garbage.png ">
                                                </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="i!=productos?.length-1 " class="col-12 ">
                                <hr>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loader" class="c" style="justify-content: center;align-items: center;min-height: -webkit-fill-available;">
    <div class="r nowrap">
        <div class="spinner-border text-success" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
        <p style="font-size: calc(0.6rem + 0.6vw);margin-left:10px;margin-top:3px;">Cargando productos...</p>
    </div>
</div>